body, html {
 

  background-color: black;
  background-image: url('/Day 12 Final/img/istockphoto-178591049-612x612.jpg');  
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: relative;
  margin-bottom: 20%;
  padding-bottom: 5px, 5px, 5px, 5px,

} 
#container {
    display: flex;
    align-items: center;
    background-image: url("/img/web\ design.jpg");
    background-repeat: no-repeat alt="New York" width="1100" height="500;"
  }
  a:link {
    text-decoration: none;
  }
  header {
    text-align: center;
  }
  h1, h4, h6 {
    color: white;
    text-decoration: none;
}
          #container1 {
        display: flex;
        position:relative;
      }
      .fa {
        
        font-size: 10px;
        width: 15px;
        text-align: left;
        text-decoration: none;
        margin: 0px 0px 0px 0px;
      }
      .fa:hover {
        opacity: 100.0;
      }
  
  
      .fa-twitter {
      
        color: #e9e3ef;
        text-align: left;
        font-size: 10px;
      }
  
  
      .fa-instagram {
        background: rgb(0, 0, 0);
        color: rgb(242, 230, 230);
        font-size: 14px;
      }
  
      .fa-facebook {
    
        color: rgb(241, 234, 234);
        font-size: 14px;
      }
      
      .fa-youtube {
      
        color: rgb(241, 234, 234);
        font-size: 14px;
      }
      
      .fa-linkedin {
       
        color: rgb(241, 234, 234);
        font-size: 14px;
      }
  
    
      footer {
        line-height: 70px;
        position: fixed;
        background: rgba(28, 32, 36, 1);
        bottom:0px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        height: 60px;
        text-align: center; 
        
      }
      